<article class="budget">
  <div class="title">
    
    <div>{{title}}</div>

  </div>

  <div class="meta">
    {{budgetAmount}} {{format_plural "dollar" }} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/budget/{{id}}">{{transactions.length}} {{format_plural "transaction" transactions.length}}</a>
  </div>
</article>

