<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Budget
  </h2>
  <form class="edit-budget-form">
    <div>
      <input name="budget-title" type="text" value="{{budgets.title}}" />
    </div>
    <div class="meta">
      <input name="budget-amount" type="text" value="{{budgets.budgetAmount}}" />
    {{!-- |
    <a href="/budget/{{budget.id}}">{{budget.length}} {{format_plural "transaction" transactions.length}}</a> --}}
  </div>
  <br>
    <button type="submit" class="edit-budget-btn">Save Budget</button>
    <button type="button" class="delete-budget-btn">Delete Budget</button>
  </form>
<br>
</article>



<h3>Add New Transaction</h3>
<form class="transaction-form">
  <div class="form-control">
          <label for="text"></label>
          <input type="text" id="text" placeholder="Enter a transaction" />
        </div>
        <div class="form-control">
          <label for="amount">
             <br />
            </label>
          <input name="amount" type="number" id="amount" placeholder="Enter amount..." />
        </div>

<br>
  <div>
    <button type="submit">add transaction</button>
  </div>
</form>

{{> transaction-info budget.transactions}}



<script src="/javascript/edit-budget.js"></script>
<script src="/javascript/delete-budget.js"></script>
<script src="/javascript/transaction.js"></script>

